/*
Styles applied to the .plot-additional-controls containers with config options for each plot.
eg. Logarithmic checkbox, predictor dropdown, interaction predictor dropdown, etc.
Add the class .plot-additional-controls to the containing element (eg. a div).
The class is added automatically by plot_additional_controls_container in
utils_plot_additional_controls.R.
*/

/* Top-level container */
.plot-additional-controls {
  margin-bottom: 12px;
}

/* Style for selectInput */
.plot-additional-controls .selectize-input {
  width: max-content;
  padding-right: 40px;    /* Add padding so the dropdown arrow doesn't overlap the text */
}

/* Remove bottom margin from controls */
.plot-additional-controls .form-group {
  margin-bottom: 0;
}

/* For vertically centering checkboxes and radio buttons */
.plot-additional-controls .checkbox, .plot-additional-controls .radio {
  margin: 8px 0;
}

/* Add horizontal padding between top-level td (ie. the main columns) */
.plot-additional-controls > table > tbody > tr > td {
  padding: 0px 10px 0px 0px;
}

/* Remove horizontal padding from last top-level td (ie. the last column) */
.plot-additional-controls > table > tbody > tr > td:last {
  padding: 0px 0px 0px 0;
}